@font-face {
    font-family: Droid Serif;
    src: url(fonts/droidserif.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Droid Serif;
    src: url(fonts/droidserifitalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Droid Serif;
    src: url(fonts/droidserifbold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Droid Serif;
    src: url(fonts/droidserifbolditalic.ttf);
    font-weight: 700;
    font-style: italic;
}
